@model  IEnumerable<MVC.Biblioteca.Models.AutorViewModel>
@{ Layout = null; }

<table class="responsive-table bordered highlight centered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome do Autor</th>
            <th>Sobrenome do Autor</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.idAutor</td>
                    <td>@item.nomeAutor</td>
                    <td>@item.sobrenomeAutor</td>
                    <td>
                        <span class="flow-text">
                            <a class="btn-floating waves-effect waves-light grey darken-2" title="Editar" onclick="edit(@item.idAutor)"><i class="material-icons">mode_edit</i></a>
                            <a class="btn-floating waves-effect waves-light red" title="Excluir" onclick="excluirDados(@item.idAutor)"><i class="material-icons">delete</i></a>
                        </span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>

    function edit(idAutor) {
        $.get('@Url.Action("Edit", "Autor")', {
            idAutor: idAutor
        }).done(function (data) {
            $("#divCadastroAutores").html(data);
            $("#divContentAutores").hide();
            $(".grid_dados").show();
            $("#btnNovoAutor").hide();
            $("#nome_autor").val(data.nomeAutor);
            $("#tituloViewAutor").html("<h5>Editar Autor</h5>");
        }).fail(function (xhr) {
            alert(xhr.responseText);
        });
    }

    function editarDados(idAutor) {

        $.get('@Url.Action("editarDados", "Autor")', {
            idAutor: idAutor
        }).done(function (data) {
            $("#divContentAutores").html(data);
        }).fail(function (xhr) {
            xhr.responseText;
        });
    }

    function excluirDados(idAutor) {

        var conf = confirm("Deseja realmente excluir?");
        if (conf == true) {
            $.get('@Url.Action("ExcluirDados", "Autor")', {
                idAutor: idAutor
            }).done(function (data) {

            }).fail(function (hrx) {
                xhr.responseText;
            });
        }
        else {
            return false;
        }
    }

</script>