@model  IEnumerable<MVC.Biblioteca.Models.LivroViewModel>
@{ Layout = null; }

<table class="responsive-table bordered highlight centered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>ISBN</th>
            <th>Data de Publicação</th>
            <th>Preço</th>
            <th>ID Autor</th>
            <th>ID Editora</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.idLivro</td>
                    <td>@item.nomeLivro</td>
                    <td>@item.ISBN</td>
                    <td>@item.dataPubLivro</td>
                    <td>@item.precoLivro</td>
                    <td>@item.idAutor</td>
                    <td>@item.idEditora</td>
                    <td>
                        <span class="flow-text">
                            <a class="btn-floating waves-effect waves-light grey darken-2" onclick="edit(@item.idLivro)" title="Editar"><i class="material-icons">mode_edit</i></a>
                            <a class="btn-floating waves-effect waves-light red" onclick="excluirDados(@item.idLivro)" title="Excluir"><i class="material-icons">delete</i></a>
                        </span>
                    </td>
                </tr>

            }
        }

    </tbody>
</table>

<script>

    function edit(idLivro) {
        $.get('@Url.Action("Edit", "Livro")', {
            idLivro: idLivro
        }).done(function (data) {
            $("#divCadastroLivros").html(data);
            $("#divContentLivros").hide();
            $(".grid_dados").show();
            $("#btnNovaEditora").hide();
            $("#tituloViewLivro").html("<h5>Editar Livro</h5>");
        }).fail(function (xhr) {
            alert(xhr.responseText);
        });
    }

    function editarDados(idLivro) {
        $.get('@Url.Action("editarDados", "Livro")', {
            idLivro: idLivro
        }).done(function (data) {
            $("#divContentLivros").html(data);
        }).fail(function (xhr) {
            xhr.responseText;
        });
    }

    function excluirDados(idLivro) {

        var conf = confirm("Deseja realmente excluir?");
        if (conf == true) {
            $.get('@Url.Action("ExcluirDados", "Livro")', {
                idLivro: idLivro
            }).done(function (data) {

            }).fail(function (hrx) {
                xhr.responseText;
            });
        }
        else {
            return false;
        }
    }

</script>

